body {
  background-color: #7D6958;
}

p {
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

#header {
  text-shadow: 3px 2px grey;
}

a:visited {
  color: skyblue;
}

a:link {
  color: 	#00FFFF;
}

a:hover {
  color: orange;
}

* .bio {
  color: maroon;
}
