
td, th {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 8px;
}

body {
  background-color: #009933
}

p {
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

#header {
  text-shadow: 3px 2px grey;
}
