
td, th {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 8px;
}

body {
  background-color: #009933
}

p {
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

#header {
  text-shadow: 3px 2px grey;
}

a:visited {
  color: skyblue;
}

a:link {
  color: 	#00FFFF;
}

a:hover {
  color: orange;
}

tr th {
  color: maroon;
}

tr td {
  color: #520202;
}

img {
   padding:1px;
   border:1px solid #021a40;
   width: 500px;
   height: 400px;
}
