body {
  background-color: #8A4A15;
}

p {
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

h1 {
  color: 	#00FFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: 	#00FFFF;
}

a:visited {
  color: skyblue;
}

a:link {
  color: 	#00FFFF;
}

a[href="https://www.minecraft.net"]{
  color: red;
}

a:hover {
  color: orange;
}

#header {
  text-shadow: 3px 2px grey;
}

img {
   padding:1px;
   border:1px solid #021a40;
   width: 800px;
   length: 500px;
}

p[title]{
  color: black;
}

a[href*="mailto"] {
  color: black;
}
