body {
  background-color: grey;
}

p {
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.combat {
  color:maroon;
}

.controls {
  color:orange;
}

.difficulties {
  color:limegreen;
}

.mining {
  color: skyblue;
}
